@font-face {
    font-family: 'NitaiFont';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Nitai9h/picx-images-hosting@master/NitaiFont.ttf') format("truetype");  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  }
